header.banner-home{
	background:url("../img/bg.jpg") no-repeat center center;
	padding-top:10%;
	padding-bottom: 10%;
}

div.topo{
	background-color: #36506B;
}

a{
	color: #ffffff;
}

a:hover{
	font-size: 18px;
	color: #ffffff;
}

h2.rodape{
	font-size: 18px;
	color: #ffffff;
}

p.rodape{
	font-size: 12px;
	font-weight: bolder;
}

div.rodape{
	background-color: #36506B;
}